@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Thin.woff2") format("woff2"), url("../fonts/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  min-width: 320px; }

body {
  line-height: 1;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: "Gilroy"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

body {
  color: #C3D5FD;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal; }
  body.lock {
    overflow: hidden; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.page {
  background: -webkit-linear-gradient(134.59deg, #061F56 -50.68%, #0F55EB 100%);
  background: -o-linear-gradient(134.59deg, #061F56 -50.68%, #0F55EB 100%);
  background: linear-gradient(315.41deg, #061F56 -50.68%, #0F55EB 100%);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 30px;
  position: relative; }
  @media (min-width: 576.98px) {
    .page {
      padding: 69px 83px 30px 83px; } }

/*.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img {
		display: none;
	}
}*/
.ibg {
  position: relative; }
  .ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover; }

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden; }

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; }
  .video video,
  .video iframe,
  .video object,
  .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .slick-slider .slick-track {
    position: relative;
    width: 100%; }
  .slick-slider .slick-slide {
    overflow: hidden;
    float: left;
    position: relative; }

.tab__item {
  display: none; }
  .tab__item.active {
    display: block; }

.scroll {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1111;
  background: #000; }

.page-top {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 32px; }
  @media (min-width: 992.98px) {
    .page-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.page-brand {
  text-align: center; }
  @media (max-width: 992.98px) {
    .page-brand {
      margin-bottom: 30px; } }
  @media (min-width: 992.98px) {
    .page-brand {
      position: absolute; } }
  .page-brand svg {
    width: 172px;
    height: 23px; }

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (min-width: 767.98px) {
    .progress {
      margin: 0 auto; } }
  .progress__bar {
    position: relative;
    width: 194px;
    height: 26px;
    margin-right: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #6290F6;
    background: #0A389C;
    -webkit-box-shadow: -4.60245px -4.60245px 7.88991px #2765EB, 4.60245px 4.60245px 7.88991px #123D9A;
    box-shadow: -4.60245px -4.60245px 7.88991px #2765EB, 4.60245px 4.60245px 7.88991px #123D9A;
    border-radius: 50px; }
    @media (min-width: 370px) {
      .progress__bar {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 194px;
        flex: 0 0 194px; } }
    @media (min-width: 767.98px) {
      .progress__bar {
        margin-right: 21px; } }
    .progress__bar:before {
      content: '1';
      width: 37px;
      height: 37px;
      margin-right: 37px;
      margin-left: -2px;
      border-radius: 50%;
      font-weight: bold;
      font-size: 25px;
      line-height: 37px;
      background: #0A389C;
      -webkit-box-shadow: -4.60245px -4.60245px 7.88991px #2765EB, 4.60245px 4.60245px 7.88991px #123D9A;
      box-shadow: -4.60245px -4.60245px 7.88991px #2765EB, 4.60245px 4.60245px 7.88991px #123D9A;
      color: #C3D5FD;
      z-index: 1; }
  .progress__bar-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #1F59DB;
    border-radius: inherit; }
  .progress span {
    font-size: 15px;
    line-height: 26px;
    position: relative;
    z-index: 1; }
  .progress__text {
    font-size: 15px;
    line-height: 17px;
    color: #6290F6; }
    @media (max-width: 370px) {
      .progress__text {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 96px;
        flex: 0 0 96px;
        font-size: 14px; } }
    @media (max-width: 576.98px) {
      .progress__text span {
        font-weight: bold;
        display: block;
        margin-top: -5px; } }

.page-two .page-top,
.page-three .page-top {
  margin-bottom: 66px; }
  @media (min-width: 992.98px) {
    .page-two .page-top,
    .page-three .page-top {
      margin-bottom: 91px; } }

.result-area {
  font-size: 30px;
  line-height: 32px;
  font-weight: 300; }
  @media (max-width: 370px) {
    .result-area {
      font-size: 25px; } }
  .result-area span {
    font-size: 15px;
    font-weight: bold;
    display: block; }
  .result-area__grup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left; }

.result-area-cnt {
  text-align: center;
  font-size: 25px;
  margin-bottom: 37px; }
  @media (min-width: 992.98px) {
    .result-area-cnt {
      margin-bottom: 43px; } }

.start-button svg {
  width: 121px;
  height: 23px;
  margin-top: 10px; }
  @media (min-width: 992.98px) {
    .start-button svg {
      width: 151px;
      height: 28px; } }

.main {
  margin: 0 auto; }

.start-button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 199px;
  height: 199px;
  border-radius: 50%;
  margin-bottom: 37px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  background: -webkit-linear-gradient(141.96deg, #061F56 -74.8%, #0F55EB 96.09%);
  background: -o-linear-gradient(141.96deg, #061F56 -74.8%, #0F55EB 96.09%);
  background: linear-gradient(308.04deg, #061F56 -74.8%, #0F55EB 96.09%);
  -webkit-box-shadow: 21.2997px 21.2997px 36.5138px rgba(5, 46, 135, 0.82), -21.2997px -21.2997px 36.5138px #2564EB;
  box-shadow: 21.2997px 21.2997px 36.5138px rgba(5, 46, 135, 0.82), -21.2997px -21.2997px 36.5138px #2564EB; }
  .start-button .decor-1 {
    width: 2.3px;
    height: 30px;
    margin-left: 14px;
    background: -webkit-gradient(linear, left top, left bottom, from(#0C348B), to(rgba(12, 52, 139, 0)));
    background: -webkit-linear-gradient(top, #0C348B 0%, rgba(12, 52, 139, 0) 100%);
    background: -o-linear-gradient(top, #0C348B 0%, rgba(12, 52, 139, 0) 100%);
    background: linear-gradient(180deg, #0C348B 0%, rgba(12, 52, 139, 0) 100%);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .start-button .decor-2 {
    width: 2.3px;
    height: 30px;
    margin-right: 14px;
    background: -webkit-gradient(linear, left top, left bottom, from(#0C348B), to(rgba(12, 52, 139, 0)));
    background: -webkit-linear-gradient(top, #0C348B 0%, rgba(12, 52, 139, 0) 100%);
    background: -o-linear-gradient(top, #0C348B 0%, rgba(12, 52, 139, 0) 100%);
    background: linear-gradient(180deg, #0C348B 0%, rgba(12, 52, 139, 0) 100%);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .start-button:after {
    content: '';
    position: absolute;
    width: 2.3px;
    height: 30.7px;
    left: 50%;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#0C348B), to(rgba(12, 52, 139, 0)));
    background: -webkit-linear-gradient(top, #0C348B 0%, rgba(12, 52, 139, 0) 100%);
    background: -o-linear-gradient(top, #0C348B 0%, rgba(12, 52, 139, 0) 100%);
    background: linear-gradient(180deg, #0C348B 0%, rgba(12, 52, 139, 0) 100%); }
  .start-button:before {
    content: '';
    position: absolute;
    width: 2.3px;
    height: 30.7px;
    left: 50%;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 52, 139, 0)), to(#0C348B));
    background: -webkit-linear-gradient(top, rgba(12, 52, 139, 0) 0%, #0C348B 100%);
    background: -o-linear-gradient(top, rgba(12, 52, 139, 0) 0%, #0C348B 100%);
    background: linear-gradient(180deg, rgba(12, 52, 139, 0) 0%, #0C348B 100%); }
  @media (min-width: 992.98px) {
    .start-button {
      margin-bottom: 55px;
      width: 251px;
      height: 251px; } }

.start-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.page-one .main {
  text-align: center;
  max-width: 339px;
  margin-bottom: 131px; }
  @media (min-width: 1500px) {
    .page-one .main {
      margin-bottom: 224px; } }

.page-two .main {
  max-width: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 87px;
  /*margin-bottom: 131px;

      @media (min-width:1500px) {
         margin-bottom: 224px;
      }*/ }

.page-three .main {
  max-width: 370px;
  margin-bottom: 87px;
  margin-bottom: 131px; }
  @media (min-width: 1500px) {
    .page-three .main {
      margin-bottom: 224px; } }

.main-progres {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 51px;
  flex: 0 0 51px;
  width: 51px;
  height: 493px;
  background-color: #777;
  background: -webkit-linear-gradient(116.24deg, #0C43BB -48.69%, #6190F5 189.23%), #C4C4C4;
  background: -o-linear-gradient(116.24deg, #0C43BB -48.69%, #6190F5 189.23%), #C4C4C4;
  background: linear-gradient(333.76deg, #0C43BB -48.69%, #6190F5 189.23%), #C4C4C4;
  -webkit-box-shadow: 26.8654px 26.8654px 46.055px rgba(5, 46, 135, 0.82), -26.8654px -26.8654px 46.055px #2564EB;
  box-shadow: 26.8654px 26.8654px 46.055px rgba(5, 46, 135, 0.82), -26.8654px -26.8654px 46.055px #2564EB;
  border-radius: 10px; }
  @media (max-width: 767.98px) {
    .main-progres {
      margin-right: 65px; } }
  @media (max-width: 370px) {
    .main-progres {
      margin-right: 35px; } }
  .main-progres:after, .main-progres:before {
    content: '';
    position: absolute;
    left: 0;
    color: #6997FC; }
    @media (min-width: 767.98px) {
      .main-progres:after, .main-progres:before {
        left: -92px; } }
  @media (max-width: 767.98px) {
    .main-progres:before {
      top: -30px; } }
  .main-progres:after {
    content: '0 sec';
    bottom: -30px;
    left: 5px; }
    @media (min-width: 767.98px) {
      .main-progres:after {
        bottom: 0;
        left: -92px; } }
  .main-progres:before {
    content: '120 sec'; }
  .main-progres__line {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .main-progres__line span {
      background: -webkit-gradient(linear, left bottom, left top, from(#BB0C0C), to(#61F570)), #C4C4C4;
      background: -webkit-linear-gradient(bottom, #BB0C0C 0%, #61F570 100%), #C4C4C4;
      background: -o-linear-gradient(bottom, #BB0C0C 0%, #61F570 100%), #C4C4C4;
      background: linear-gradient(360deg, #BB0C0C 0%, #61F570 100%), #C4C4C4;
      border-radius: 8px; }

.main-result {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 370px;
  flex: 0 1 370px;
  width: 370px;
  border-radius: 10px;
  padding: 16px 26px 0 26px;
  border: 1px solid #6190F5;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#6190F5), color-stop(99.54%, #0C43BB));
  -webkit-border-image: -webkit-linear-gradient(#6190F5 0%, #0C43BB 99.54%);
  -o-border-image: -o-linear-gradient(#6190F5 0%, #0C43BB 99.54%);
  border-image: -webkit-gradient(linear, left top, left bottom, from(#6190F5), color-stop(99.54%, #0C43BB));
  border-image: linear-gradient(#6190F5 0%, #0C43BB 99.54%);
  border-image-slice: 1;
  max-height: 492px;
  overflow: hidden; }
  .main-result:after {
    content: '';
    position: absolute;
    height: 130px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 59, 163, 0)), to(#0B3BA3));
    background: -webkit-linear-gradient(top, rgba(11, 59, 163, 0) 0%, #0B3BA3 100%);
    background: -o-linear-gradient(top, rgba(11, 59, 163, 0) 0%, #0B3BA3 100%);
    background: linear-gradient(180deg, rgba(11, 59, 163, 0) 0%, #0B3BA3 100%); }
  .main-result__list {
    list-style-position: inside;
    list-style-type: decimal;
    counter-reset: myCounter; }
  .main-result__item {
    position: relative;
    line-height: 23px;
    color: #6997FC;
    list-style: none;
    padding-left: 30px; }
    .main-result__item:before {
      counter-increment: myCounter;
      content: counter(myCounter);
      position: absolute;
      left: 0;
      top: 0; }

.nicescroll-rails.nicescroll-rails-vr {
  right: 15px !important;
  top: 16px !important; }

.page-three .main-result {
  max-height: 177px;
  margin-bottom: 32px; }
  @media (max-width: 767.98px) {
    .page-three .main-result {
      max-width: 100%; } }

@media (min-width: 767.98px) {
  .page-three .result-area__grup {
    padding: 0 16px; } }

@media (max-width: 576.98px) {
  .page-three .result-area {
    font-weight: 100; } }

.page-three .mail-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #C3D5FD;
  margin-bottom: 14px;
  text-align: center; }
  @media (min-width: 767.98px) {
    .page-three .mail-title {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 32px; } }

.page-bottom {
  text-align: center;
  font-size: 15px;
  line-height: 17px;
  color: #6290F6; }
