.result-area {
   font-size: 30px;
   line-height: 32px;
   font-weight: 300;

   @media (max-width:370px) {
      font-size: 25px;
   }

   span {
      font-size: 15px;
      font-weight: bold;
      display: block;
   }

   &__grup {
      display: flex;
      justify-content: space-between;
      text-align: left;
   }
}

.result-area-cnt {
   text-align: center;
   font-size: 25px;

   margin-bottom: 37px;

   @media (min-width:$md2+px) {
      margin-bottom: 43px;
   }

}

.start-button {
   svg {
      width: 121px;
      height: 23px;
      margin-top: 10px;

      @media (min-width:$md2+px) {
         width: 151px;
         height: 28px;
      }
   }
}

.main {
   margin: 0 auto;
}

.start-button {
   position: relative;
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   width: 199px;
   height: 199px;
   border-radius: 50%;
   margin-bottom: 37px;
   @include anim(0.7s, 0s);

   background: linear-gradient(308.04deg, #061F56 -74.8%, #0F55EB 96.09%);
   box-shadow: 21.2997px 21.2997px 36.5138px rgba(5, 46, 135, 0.82), -21.2997px -21.2997px 36.5138px #2564EB;


   .decor-1 {
      width: 2.3px;
      height: 30px;
      margin-left: 14px;

      background: linear-gradient(180deg, #0C348B 0%, rgba(12, 52, 139, 0) 100%);
      transform: rotate(-90deg);
   }

   .decor-2 {
      width: 2.3px;
      height: 30px;
      margin-right: 14px;

      background: linear-gradient(180deg, #0C348B 0%, rgba(12, 52, 139, 0) 100%);
      transform: rotate(90deg);
   }

   &:after {
      content: '';
      position: absolute;
      width: 2.3px;
      height: 30.7px;
      left: 50%;
      top: 0;

      background: linear-gradient(180deg, #0C348B 0%, rgba(12, 52, 139, 0) 100%);

   }

   &:before {
      content: '';
      position: absolute;
      width: 2.3px;
      height: 30.7px;
      left: 50%;
      bottom: 0;

      background: linear-gradient(180deg, rgba(12, 52, 139, 0) 0%, #0C348B 100%);

   }

   @media (min-width:$md2+px) {
      margin-bottom: 55px;
      width: 251px;
      height: 251px;
   }
}

.start-button {
   &:hover {
      transform: scale(1.1);
   }
}

.page-one {
   .main {
      text-align: center;
      max-width: 339px;
      margin-bottom: 131px;

      @media (min-width:1500px) {
         margin-bottom: 224px;
      }
   }
}

.page-two {
   .main {
      max-width: 530px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 87px;
      /*margin-bottom: 131px;

      @media (min-width:1500px) {
         margin-bottom: 224px;
      }*/
   }
}

.page-three {
   .main {
      max-width: 370px;
      margin-bottom: 87px;
      margin-bottom: 131px;

      @media (min-width:1500px) {
         margin-bottom: 224px;
      }
   }
}

.main-progres {
   position: relative;
   flex: 0 0 51px;
   width: 51px;
   height: 493px;
   background-color: #777;

   @media (max-width:414px) {
      height: 402px;
   }

   background: linear-gradient(333.76deg, #0C43BB -48.69%, #6190F5 189.23%),
   #C4C4C4;
   box-shadow: 26.8654px 26.8654px 46.055px rgba(5, 46, 135, 0.82),
   -26.8654px -26.8654px 46.055px #2564EB;
   border-radius: 10px;

   @media (max-width:$md3+px) {
      margin-right: 65px;
   }

   @media (max-width:370px) {
      margin-right: 35px;
   }

   &:after,
   &:before {
      content: '';
      position: absolute;
      left: 0;
      color: #6997FC;

      @media (min-width:$md3+px) {
         left: -92px;
      }
   }

   &:before {
      @media (max-width:$md3+px) {
         top: -30px;
      }
   }

   &:after {
      content: '0 sec';
      bottom: -30px;
      left: 5px;

      @media (min-width:$md3+px) {
         bottom: 0;
         left: -92px;
      }
   }

   &:before {
      content: '120 sec';
   }

   &__line {
      height: 100%;
      display: flex;
      flex-direction: column-reverse;

      span {

         background: linear-gradient(360deg, #BB0C0C 0%, #61F570 100%), #C4C4C4;
         border-radius: 8px;
      }
   }
}

.main-result {
   position: relative;
   flex: 0 1 370px;
   width: 370px;
   border-radius: 10px;
   padding: 16px 26px 0 26px;
   border: 1px solid #6190F5;
   border-image: linear-gradient(#6190F5 0%, #0C43BB 99.54%);
   border-image-slice: 1;
   max-height: 492px;
   overflow: hidden;

   @media (max-width:414px) {
      max-height: 402px;
   }

   &:after {
      content: '';
      position: absolute;
      height: 130px;
      width: 100%;
      left: 0;
      bottom: 0;
      border-radius: 10px;
      background: linear-gradient(180deg, rgba(11, 59, 163, 0) 0%, #0B3BA3 100%);
   }

   &__list {
      list-style-position: inside;
      list-style-type: decimal;
      counter-reset: myCounter;
   }

   &__item {
      position: relative;
      line-height: 23px;
      color: #6997FC;
      list-style: none;
      padding-left: 30px;

      &:before {
         counter-increment: myCounter;
         content: counter(myCounter);
         position: absolute;
         left: 0;
         top: 0;
      }
   }
}

.nicescroll-rails.nicescroll-rails-vr {
   right: 15px !important;
   top: 16px !important;
}

.page-three {
   .main-result {
      max-height: 177px;
      margin-bottom: 32px;

      @media (max-width:$md3+px) {
         max-width: 100%;
      }
   }

   .result-area__grup {
      @media (min-width:$md3+px) {
         padding: 0 16px;
      }
   }

   .result-area {
      @media (max-width:$md4+px) {
         font-weight: 100;
      }
   }

   .mail-title {
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      color: #C3D5FD;
      margin-bottom: 14px;
      text-align: center;

      @media (min-width:$md3+px) {
         font-size: 50px;
         line-height: 60px;
         margin-bottom: 32px;
      }
   }
}